html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

#addBookButton, #removeBookButton {
  margin: 12px;
  margin-left: 24px;
  padding: 12px;
  font-size: 18px;
}

.bookCard {
  border-style: solid;
  width: 250px;
  height: 250px;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeButton:hover,
#closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}